.App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    filter: drop-shadow(0px 10px 12px black);
    background: aqua;
  }
  .container{
    background-color: aliceblue;
    width: 400px;
    height: auto;
    text-align: center;
    border-radius: 7px;
    padding: 20px;

  }
  input{
    height: 35px;
    border-radius: 11px;
    margin-top: 3%;
    box-sizing: border-box;
    width: 90%;
    padding: 7px;
    font-size: medium;
  }
  #filter{
    margin-bottom: 2%;
    filter: drop-shadow(0px 3px 4px black);
  }
  .button{
    background-color: #6bf5f5; 
    padding: 10px;
    margin: 2%;
    border-radius: 7px;
    font-size: medium;
    cursor: pointer;
    transition: 0.3s;
  }
  .button:hover{
    background-color: bisque;
  }
  h2{
    position: relative;
    display: flex;
    padding-left: 5%;
  }
  ul{
    margin: 0px;
    list-style-type: none;
    position: relative;
    border-radius: 5px;
    padding: 0; 
  }
  ul>li{
    padding: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: antiquewhite;
    font-family: cursive;
    font-size: medium;
    width: 88%;
    right: -17px;
    position: relative;
    border-radius: 8px;
  }

